<div class="field">
    <div class="card-stack">
        <img [ngStyle]="{'top.px': i * 3, 'right.px': i * 5}" *ngFor="let c of [0, 1, 2, 3, 4]; let i = index;"
            src="assets/img/cards/card_cover.png" alt="card stack">
        <img (click)="takeCard()" class="top-card" style="top: 15px; right: 25px" src="assets/img/cards/card_cover.png"
            alt="card stack">
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="top: 15px; right: 25px"
            src="assets/img/cards/{{ currentCard }}.png" alt="card stack">
    </div>
</div>